<div class=' myabout container mx-auto mt-5 col-md-10 mt-100'>
    <div class="header">
        <div class="title">Team</div>
        <p><small class="text-muted">We are team of enthusiastic coders</p>
    </div>
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="https://i.ibb.co/TMPSjbM/karan.png"> </div>
                    <div class="card-title"> Karan Doshi<br /> <small></small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted">  They are the best team ever! </small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="https://i.ibb.co/1M5YVS4/Passport-pic-Neww.jpg"> </div>
                    <div class="card-title"> Tushar Goyal<br /> <small></small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> I am really enjoying working with them</small> </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="https://i.ibb.co/NjwHMq6/prakhar.png"> </div>
                    <div class="card-title"> Prakhar Uniyal<br /> <small></small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> They are amazing! </small> </p>
                    </div>
                </div>
            </div>
        </div>
		
        {{!-- <div class="card col-md-3 mt-100">
            <div class="card-content">
                <div class="card-body p-0">
                    <div class="profile"> <img src="https://i.ibb.co/NjwHMq6/prakhar.png"> </div>
                    <div class="card-title"> Prakhar Uniyal<br /> <small></small> </div>
                    <div class="card-subtitle">
                        <p> <small class="text-muted"> They are amazing! </small> </p>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
	<br>
	<br>
	<br>

    {{!-- <div class="ft">
        <div class="btn btn-outline">Tell a nice word</div>
    </div> --}}
</div>