<br>
<br>

<div>
    <div class="row">
        <div>
            <form action="/" method="post">
                <select id="prog-lang" name="prog-lang">
                    <option value="C++">C++</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Javascript">Javascript</option>
                </select>
                <textarea id="code-screen"> </textarea>
                <br>Input:<br>
                <textarea id="input-text" name="input-text"></textarea>
                <br><input type="submit" value="Run">
            </form>
            


        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/mode/javascript/javascript.min.js"></script>

<script>
    var editor = CodeMirror.fromTextArea(
        document.getElementById("code-screen"),{
            lineNumbers: true,
            theme: "monokai"
        }
    );
</script>




</div>